<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theone.music">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

<!--        &lt;!&ndash;蒲公英相关配置&ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="PGYER_API_KEY"-->
<!--            android:value="016fdb173278e52b3be8b605418aacbb"/>-->

<!--        <meta-data-->
<!--            android:name="PGYER_FRONTJS_KEY"-->
<!--            android:value="a1384be716542668102e7c4aca262d87"/>-->

<!--        &lt;!&ndash;添加新版本检测&ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="PGYER_FEATURE_CHECK_UNPDATE"-->
<!--            android:value="true"/>-->

        <activity android:name=".ui.activity.LauncherActivity"
            android:theme="@style/StartAppTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.activity.LoginRegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.activity.MusicPlayerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentTheme"/>

        <activity android:name=".ui.activity.ErrorReportActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <service android:name=".player.notification.PlayerService" />

        <service android:name=".service.DownloadMusicService"/>

        <receiver
            android:name=".player.notification.PlayerReceiver"
            android:exported="false"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="pure_music.kunminx.close" />
                <action android:name="pure_music.kunminx.pause" />
                <action android:name="pure_music.kunminx.next" />
                <action android:name="pure_music.kunminx.play" />
                <action android:name="pure_music.kunminx.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>